@page { size: A2 landscape }

body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: white;
}

.container {
    margin: 2mm;
}

.A3-potrait-container {
    height: 420mm;
    width: 297mm;
}

.A3-potrait {
    width: 295mm;
    height: 418mm;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

header{
    font-family: 'Monserat', sans-serif;
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
    color: #3269B6;
}
.header-headline {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 900;
    box-sizing: border-box;
    display: inline-block;
    line-height: 72px;  
    width: 100%;
    text-align: center;
}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.top-header {
    width: 100%;
    border-bottom: 2px solid #2f2f2f;
}
.site-url {
    text-align: right;
    margin: 10px 20px;
}
.head{
    text-align: center;
    position: relative;
}

.headerobjectswrapper{
}

.date{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    text-align: left;
    padding-left:2%; 
}
.edition{
    float: right;
    padding-right:2%;
}
.newspaper-brand {
    margin-right: 30%;
    text-transform: uppercase;
}
.content{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;


}
.collumns{

}

.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 31%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 0;
    transition: all .7s;
}
.collumn-hot-news{
    font-size: 14px;
    line-height: 20px;
    width: 48%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 10px;
    transition: all .7s;
}
.collumn-news{
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 10px;
    transition: all .7s;
}
.collumn-headline{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    width: 100%;
}

.collumn-headline-content{
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 10px;
    transition: all .7s;
}

.collumn + .collumn { 
  border-left: 1px solid #2f2f2f;
}
.h1-paragraph {
    font-size: 36px;
    display: inline;
}
.headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}
.headline.hl1{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    /* color: #078D52; */
}

.headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    color: #FFB210;
}

.headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.headline.hl3{
    font-weight: 600;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.headline.hl4{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    color: #3269B6;
}
.headline.hl4:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.headline.hl4:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}

.headline.hl5{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
}
.headline.hl6{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    color: #3269B6;
}
.headline.hl6:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.headline.hl6:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}
.headline.hl7{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 0;
}
.headline.hl8{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.headline.hl9{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.headline.hl10{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.headline.hl11{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.headline.hl11:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100%;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.headline.hl11:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100%;
    height: 10px;
    display: block;
    margin: 0 auto;

}
.collumn .citation{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}
.collumn .citation:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.collumn .citation:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.collumn .figure {
	  margin: 0 0 20px;
}

.figure.float {
    margin: 1mm 2mm;
    width: 50%;
    float: right;
}
.figure.float-left {
    margin: 1mm 2mm;
    width: 30%;
    float: left;
}
.figure.top {
    margin: 1mm 2mm;
}
.collumn .figcaption{
	font-style: italic;
	font-size: 12px;
}
.media {
    mix-blend-mode: multiply;
    width: 100%;
}
.footer-left {
    padding: 10px 0;
    position: absolute;
    top: 409mm;
    width: 297mm;
    z-index: 1;
    background: white;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    text-align: left;
}

.footer-right {
    padding: 10px 0;
    position: absolute;
    top: 818mm;
    width: 297mm;
    z-index: 1;
    background: white;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    text-align: right;
}

